@font-face {
	  font-family:'Carnevalee-Freakshow';
	  src: url('../css/Carnevalee-Freakshow.ttf');
	}

*{
	padding:0;
	margin: 0;
	font-size: 100%;
	font-family: 'Segoe UI';

}

a{
	text-decoration: none;
	color: #0094ff;
  font-size: 19px;
}

body{
	text-align: center;
	padding-top: 30px;
	background-image: url('../img/img01.jpg');

}

#main a{
	color: #fff;
background: #0094ff;
padding: 10px 10px 20px;
font-size: 30px;
margin-top: 394px;
box-shadow: 0px 1px 15px 1px #D8D3D3;
}


	#main a:hover{
		background:#00528e;
			}

/********* ventana *********/

#ventana{
	opacity: 0;
	pointer-events:none;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
	transition:all ease 0.5s;
}

	#ventana:target{
		opacity: 1;
		transition:all ease-in 0.5s;
		pointer-events:all;

	}

	#ventana1{
		opacity: 0;
		pointer-events:none;
		background: rgba(0, 0, 0, 0.7);
		width: 100%;
		position: fixed;
		top: 0px;
		bottom: 0px;
		transition:all ease 0.5s;
	}

		#ventana1:target{
			opacity: 1;
			transition:all ease-in 0.5s;
			pointer-events:all;

		}

		#ventana2{
			opacity: 0;
			pointer-events:none;
			background: rgba(0, 0, 0, 0.7);
			width: 100%;
			position: fixed;
			top: 0px;
			bottom: 0px;
			transition:all ease 0.5s;
		}

			#ventana2:target{
				opacity: 1;
				transition:all ease-in 0.5s;
				pointer-events:all;

			}
			#ventana3{
				opacity: 0;
				pointer-events:none;
				background: rgba(0, 0, 0, 0.7);
				width: 100%;
				position: fixed;
				top: 0px;
				bottom: 0px;
				transition:all ease 0.5s;
			}

				#ventana3:target{
					opacity: 1;
					transition:all ease-in 0.5s;
					pointer-events:all;

				}
				#ventana4{
					opacity: 0;
					pointer-events:none;
					background: rgba(0, 0, 0, 0.7);
					width: 100%;
					position: fixed;
					top: 0px;
					bottom: 0px;
					transition:all ease 0.5s;
				}

					#ventana4:target{
						opacity: 1;
						transition:all ease-in 0.5s;
						pointer-events:all;

					}


	.contenido{
		background:#fff;
	}

	.contenedor{

		height:80%;
		background: #fff;
		border-radius: 10px;
		box-shadow: :#000 0px 0px 20px;
		border: 1.5px solid #0094ff;
		width: 850px;
		margin: 5% auto;
		font-family: 'Comic Sans MS';
	}

	.contenido a{
		background:#ff0000;
		color:#fff;
		position: absolute;
		margin-top: 10px;
		margin-right: 10px;
		padding: 5px;
		font-family: 'Arial';
		color: #fff;

	}

	label{
		font-size: 29px;
    font-family: 'Roboto', sans-serif;
    padding-right: 50px;
    text-align: center;
	}

	.datos{
		width: 184px;
	height: 41px;
	border-radius: 3px 3px 3px 3px;
	color: #969393;

	}
	.datos:hover{

		border-color:#0094ff;
	}

	.botones{
			background: #0094FF;
	    width: 168px;
	    height: 46px;
	    font-family: Bookman Old Style;
	    color: white;
	    text-shadow: 2px 2px 2px #989393;
	    border-radius: 9px 9px 8px 9px;
	    box-shadow: 3px 3px 2px -1px #E4E0E0;
	    margin-right: -157px;
	}

	.botones2{
			background: #0094FF;
	    width: 168px;
	    height: 46px;
	    font-family: Bookman Old Style;
	    color: white;
	    text-shadow: 2px 2px 2px #989393;
	    border-radius: 9px 9px 8px 9px;
	    box-shadow: 3px 3px 2px -1px #E4E0E0;
	    margin-right: 10px;
	}

	h1{
  	font-family: 'Carnevalee-Freakshow';
  	font-size:80px;
		color:#CA942F;
		text-shadow: 2px 2px 2px #8C410C;

		}

.mostrar{
	margin-top: 10px;
	margin-left: 10px;
	width: 97%;
	background: #F1ECEC;
	border: 1.5px solid #0094ff;
	color: #545454;
	font-size: 30px;
	text-align: center;
	border-radius: 11px 11px 11px 11px;
}
.tablas{
		background: #F1ECEC;
    padding-right: 7px;
    text-align: center;
    margin-left: 217px;
}
.td{
	padding-right: 30px;
text-align: center;
padding-left: 21px;
}

#mostrar4{
	overflow: scroll;
	height: 361px;

}

#mostrar4 table{
	width:440px;
}
