html,body {
  margin-top: 130px;
  height : 90%;
  background-color:#3888C7;

}
a:link, a:visited {

    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    color:gray;
}
body{
  margin: 0;

}
.secc{
background-image: url(../img/4.jpg);
    box-shadow: 0px 9px 42px -2px #6D6D6D;
    width: 100%;
    padding-bottom: 20px;
}
 .brand{
   background: url(../img/galavi1.png) no-repeat center 0%;
       z-index: 3;
       width: 250px;
       height: 112px;
       background-size: 37%;
       /* text-indent: -9999px; */
       display: block;
       margin: 0;
       margin-top: 17px;
       padding: 0;
       position: relative;
       -webkit-transition: opacity 0.1s ease-out;
       -moz-transition: opacity 0.1s ease-out;
       -o-transition: opacity 0.1s ease-out;
       margin-left: -45px;
}
  .navbar-collapse.collapse{
  margin-top: 25px;
  margin-right: 25px;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-default {
  background-color: rgb(255, 255, 255);
  border-color: transparent;
  z-index: 2;

}

.affix{
  background-color: white;
  color:black;
  animation: fadein 0.7s;
}
/*
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}*/

.navbar-default .navbar-nav > li > a {
  color: #0c0c0c;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 46px;
  filter: alpha(opacity=65);
  display: block;
  background: rgba(255,255,255,0);
  font-family: 'Poppins', sans-serif;
}
.navbar-default.affix .navbar-nav > li > a {
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  filter: alpha(opacity=65);
  display: block;
  background: rgba(255,255,255,0);
  font-family: 'Poppins', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: white;
  color:black;
}
.navbar-default .navbar-toggle {
  border-color: rgba(56, 136, 199, 0.44);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(56, 136, 199, 0.37);
}

#input{
  z-index: 1;
  color: white;
  position: absolute;
  margin-top: 150px;
  padding-bottom: 39px;
  padding-left: 53px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 37px;
}

#buscar{
  height: 65px;
  color: #6F6F6F;
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 5px;
  font-size: 29px;
  margin-top: 32px;
}

#boton1{
    height: 64px;
    border-radius: 3px;
    background-color: rgba(56, 136, 199, 0.88);
    font-size: 24px;
    border-color: rgba(210, 105, 30, 0);
      margin-top: 32px;
}

#titulo{
  margin-top:43px;
}

.sec1{
  background-color: #f1efe8;
  box-shadow: 0px 9px 42px -2px #6D6D6D;
  width: 100%;
  padding-bottom: 20px;
}

.sec2{
  background-color:white;
  box-shadow: 0px 9px 42px -2px #6D6D6D;
  width: 100%;
  padding-bottom: 20px;
}

.titulos{
font-family: 'Roboto Condensed', sans-serif;
  color :#83838c;
}

.parrafo{
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 91px;
  margin-top: 38px;
  color:gray;
  margin-right: 91px;
}

.sec3{
  background-image: url(../img/08.jpg);
  box-shadow: 0px 9px 42px -2px #6D6D6D;
  width: 100%;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.sec4{
  background-image: url(../img/09.jpg);
  box-shadow: 0px 9px 42px -2px #6D6D6D;
  width: 100%;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.boton1{
    border-color: #4782c0;
    background-color: #4782c0;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius:6px;
    margin-right: 10px;
    border: 2px solid;
}

.boton1:hover{
    border-color: #4782c0;
    background-color: white;
    color: gray;
    font-size: 24px;
    padding-top: 6px;
    border-radius:6px;
    margin-right: 10px;
    border: 2px solid;
}

.boton2{
    border-color: white;
    background-color:transparent;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius: 6px;
    border: 2px solid;
}

.boton2:hover{
    border-color: white;
    background-color: #4782c0;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius:6px;
    margin-right: 10px;
    border: 2px solid;
}
.boton21{
    border-color: white;
    background-color:transparent;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius: 6px;
    border: 2px solid;
}

.boton21:hover{
    border-color: white;
    background-color: #4782c0;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius:6px;
    margin-right: 10px;
    border: 2px solid;
}

.boton3{
    border-color: orange;
    background-color: orange;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius:6px;
    margin-right: 10px;
    border: 2px solid;
}

.boton3:hover{
    border-color: #4782c0;
    background-color: white;
    color: gray;
    font-size: 24px;
    padding-top: 6px;
    border-radius:6px;
    margin-right: 10px;
    border: 2px solid;
}

footer{
    width: 100%;
    height: 115px;
    padding-top: 1px;
    background-color: #333333;
}

.navbar-default .navbar-nav > li > a:hover{
  background-color: #4782c0;
  color: white;
}

.navbar-default.affix .navbar-nav > li > a:hover{
  background-color: #4782c0;
  color:white;
}


/*iphone 6 plus*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait)  {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color: #e7e7e7;
   /* height: 147%; */
   width: 109%;
 }
 .navbar-default .navbar-nav > li > a {
   color: #0c0c0c;
   text-transform: uppercase;
   font-size: 11px;
   font-weight: 700;
   letter-spacing: 1px;
   padding-top: 24px;
   filter: alpha(opacity=65);
   display: block;
   background: rgba(255,255,255,0);
   font-family: 'Poppins', sans-serif;
  }
  .navbar-default .navbar-toggle {
    border-color: rgba(56, 136, 199, 0.44);
    margin-top: 43px;
  }
  .parrafo {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 15px;
    margin-top: 3px;
    color: gray;
    margin-right: 14px;
}
  .boton21 {
    border-color: white;
  background-color: transparent;
  color: white;
  font-size: 24px;
  padding-top: 6px;
  border-radius: 6px;
  border: 2px solid;
  height: 57px;
  margin-top: 11px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  }
  .boton1 {
    border-color: #4782c0;
    background-color: #4782c0;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius: 6px;
    margin-right: 10px;
    border: 2px solid;
    margin-top: 366px;
    margin-left: 10px;
}
.boton2 {
  border-color: white;
     background-color: transparent;
     color: white;
     font-size: 24px;
     padding-top: 6px;
     border-radius: 6px;
     border: 2px solid;
     height: 57px;
     margin-top: 519px;
     margin-left: 10px;
     margin-right: 10px;

}

img {

visibility: hidden;
display: none;
}

.secc {
  background-image: url(../img/4.jpg);
    box-shadow: 0px 9px 42px -2px #6D6D6D;
    width: 100%;
    padding-bottom: 20px;
    height: 116%;
}

.sec3{
  background-image: url(../img/08.jpg);
    box-shadow: 0px 9px 42px -2px #6D6D6D;
    width: 100%;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 397%;
}
.boton3 {
    border-color: orange;
    background-color: orange;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius: 6px;
    margin-right: 10px;
    margin-top: 340px;
    border: 2px solid;
    margin-left: 10px;
}
.sec4 {
  background-image: url(../img/09.jpg);
  box-shadow: 0px 9px 42px -2px #6D6D6D;
  width: 100%;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 157%;
  height: 76%;
}
.carousel-caption {
    position: absolute;
    right: 14%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 4px;
    padding-bottom: 97px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    margin-top: -13px;

}

  }
/*  iphone 6 plus acostado*/
  @media only screen
   and (min-device-width : 414px)
   and (max-device-width : 736px)
   and (orientation : landscape)
   and (-webkit-min-device-pixel-ratio : 3) {

     .navbar-nav {
     margin: -12.5px 5px;
     }
     .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: #e7e7e7;
      /* height: 147%; */
      width: 109%;
    }
    .navbar-default .navbar-nav > li > a {
      color: #0c0c0c;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 1px;
      padding-top: 20px;
      filter: alpha(opacity=65);
      display: block;
      background: rgba(255,255,255,0);
      font-family: 'Poppins', sans-serif;
     }
     .navbar-default .navbar-toggle {
       border-color: rgba(56, 136, 199, 0.44);
       margin-top: 43px;
     }
     .navbar-collapse.collapse {
    margin-top: 4px;
    margin-right: 25px;
    }
    img {

    visibility: hidden;
    display: none;
  }
     .boton2 {
       border-color: white;
       background-color: transparent;
       color: white;
       font-size: 24px;
       padding-top: 6px;
       border-radius: 6px;
       border: 2px solid;
       height: 57px;
       margin-top: 411px;
       margin-left: 10px;
       margin-right: 10px;
     }
     .boton1 {
       border-color: #4782c0;
       background-color: #4782c0;
       color: white;
       font-size: 24px;
       padding-top: 6px;
       border-radius: 6px;
       margin-right: 10px;
       border: 2px solid;
       margin-top: 339px;
       margin-left: 10px;
   }
   .boton21 {
     border-color: white;
     background-color: transparent;
     color: white;
     font-size: 24px;
     padding-top: 6px;
     border-radius: 6px;
     border: 2px solid;
     height: 57px;
     margin-top: 10px;
     margin-left: 10px;
      margin-right: 10px;
   }
   .sec3{
      background-image: url(../img/08.jpg);
      box-shadow: 0px 9px 42px -2px #6D6D6D;
      width: 100%;
      padding-bottom: 20px;
      background-repeat: no-repeat;
      background-size: 330%;
   }
   .boton3 {
      border-color: orange;
      background-color: orange;
      color: white;
      font-size: 24px;
      padding-top: 6px;
      border-radius: 6px;
      margin-right: 10px;
      margin-top: 340px;
      border: 2px solid;
      margin-left: 10px;
   }
   .sec4 {
     background-image: url(../img/09.jpg);
     box-shadow: 0px 9px 42px -2px #6D6D6D;
     width: 100%;
     padding-bottom: 20px;
     background-repeat: no-repeat;
     background-size: 152%;
     height: 131%;
   }
}

/*iphone 6 acostado*
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (width : 667px)
and (height : 375px)
and (orientation : landscape) {

    .navbar-nav {
    margin: -12.5px 5px;
    }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color: #e7e7e7;
   /* height: 147%; *
   width: 109%;
  }
  .navbar-default .navbar-nav > li > a {
   color: #0c0c0c;
   text-transform: uppercase;
   font-size: 11px;
   font-weight: 700;
   letter-spacing: 1px;
   padding-top: 15px;
   filter: alpha(opacity=65);
   display: block;
   background: rgba(255,255,255,0);
   font-family: 'Poppins', sans-serif;
  }
  .navbar-default .navbar-toggle {
    border-color: rgba(56, 136, 199, 0.44);
    margin-top: 43px;
  }
  .navbar-collapse.collapse {
  margin-top: 4px;
  margin-right: 25px;
  }
  img {
  vertical-align: middle;
  visibility: hidden;
  display: none;
  }
  .boton2 {
    border-color: white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius: 6px;
    border: 2px solid;
    height: 57px;
    margin-top: 428px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .boton1 {
    border-color: #4782c0;
    background-color: #4782c0;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius: 6px;
    margin-right: 10px;
    border: 2px solid;
    margin-top: 339px;
    margin-left: 10px;
  }
  .boton21 {
  border-color: white;
  background-color: transparent;
  color: white;
  font-size: 24px;
  padding-top: 6px;
  border-radius: 6px;
  border: 2px solid;
  height: 57px;
  margin-top: 10px;
  margin-left: 10px;
    margin-right: 10px;
  }
  .sec3{
    background-image: url(../img/08.jpg);
    box-shadow: 0px 9px 42px -2px #6D6D6D;
    width: 100%;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 330%;
  }
  .boton3 {
    border-color: orange;
    background-color: orange;
    color: white;
    font-size: 24px;
    padding-top: 6px;
    border-radius: 6px;
    margin-right: 10px;
    margin-top: 340px;
    border: 2px solid;
    margin-left: 10px;
  }
  .sec4 {
  background-image: url(../img/09.jpg);
  box-shadow: 0px 9px 42px -2px #6D6D6D;
  width: 100%;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 152%;
      height: 147%;
  }
}
  /*iphone 6 *
  @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (width : 375px)
    and (height : 667px)
    and (orientation : portrait)
    {

      .navbar-default .navbar-collapse, .navbar-default .navbar-form {
       border-color: #e7e7e7;
       /* height: 147%; *
       width: 109%;
     }
     .navbar-default .navbar-nav > li > a {
       color: #0c0c0c;
       text-transform: uppercase;
       font-size: 11px;
       font-weight: 700;
       letter-spacing: 1px;
       padding-top: 24px;
       filter: alpha(opacity=65);
       display: block;
       background: rgba(255,255,255,0);
       font-family: 'Poppins', sans-serif;
      }
      .navbar-default .navbar-toggle {
        border-color: rgba(56, 136, 199, 0.44);
        margin-top: 43px;
      }
      .boton2 {
        border-color: white;
        background-color: transparent;
        color: white;
        font-size: 24px;
        padding-top: 6px;
        border-radius: 6px;
        border: 2px solid;
        height: 57px;
        margin-top: 411px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .boton1 {
        border-color: #4782c0;
        background-color: #4782c0;
        color: white;
        font-size: 24px;
        padding-top: 6px;
        border-radius: 6px;
        margin-right: 10px;
        border: 2px solid;
        margin-top: 329px;
        margin-left: 10px;
    }
    .boton21 {
      border-color: white;
      background-color: transparent;
      color: white;
      font-size: 24px;
      padding-top: 6px;
      border-radius: 6px;
      border: 2px solid;
      height: 57px;
      margin-top: 10px;
      margin-left: 10px;
        margin-right: 10px;
    }
    .sec3{
        background-image: url(../img/08.jpg);
        box-shadow: 0px 9px 42px -2px #6D6D6D;
        width: 100%;
        padding-bottom: 20px;
        background-repeat: no-repeat;
        background-size: 386%;
    }
    .boton3 {
        border-color: orange;
        background-color: orange;
        color: white;
        font-size: 24px;
        padding-top: 6px;
        border-radius: 6px;
        margin-right: 10px;
        margin-top: 340px;
        border: 2px solid;
        margin-left: 10px;
    }
    .sec4 {
      background-image: url(../img/09.jpg);
      box-shadow: 0px 9px 42px -2px #6D6D6D;
      width: 100%;
      padding-bottom: 20px;
      background-repeat: no-repeat;
      background-size: 170%;
      height: 82%;
    }
    .carousel-caption {
        position: absolute;
        right: 14%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 4px;
        padding-bottom: 97px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        margin-top: -13px;

    }
    }


  /*iphone 5*
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px)
  and (orientation : portrait) {
      #input{
          margin-top: 96px;
      }
      #imagen1{
        visibility: hidden;
 display:none;
      }
      #imagen2{
        visibility: hidden;
 display:none;
      }
      .parrafo {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 10px;
    margin-top: 34px;
    margin-right: 10px;
    color: gray;
}
    }
/*iphone 5 acostado*
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
       #input{
         margin-top: 68px;
       }
       #buscar {
     height: 42px;
     margin-top:10px;
       }
       #boton1 {
     height: 42px;
          margin-top:10px;
   }
   #imagen1{
     visibility: hidden;
display:none;
   }
   #imagen2{
     visibility: hidden;
display:none;
   }
   .parrafo {
 font-size: 20px;
 font-family: 'Source Sans Pro', sans-serif;
 margin-left: 10px;
 margin-top: 34px;
 margin-right: 10px;
 color: gray;
}

     }
